
$header-color : #3F51B5;
$header-free-color: #26A69A;
$header-text-block-color: #333333;

.header{
    background-color: $header-color;
    height: 64px;
    width: 100% ;
    .header-mountains{
        margin-top: 15px;
        margin-left: 30px;
    }
    
    .header-text-dev{
        
        position: relative;
        text-align: center;
        color: white;
        size: 20px;
        bottom: 10px;
        left: 5px;
    }

    .header-free{

        color: white;
        background-color: $header-free-color;
        size: 10px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        position: relative;
        left: 40px;
        bottom: 10px;

    }

    .header-long-text{
        color: white;
        size: 14px;
        position: relative;
        left: 40px;
        bottom: 10px;
    }


    .header-image{
        float: right;
        margin-top: 25px;
        margin-right: 10px;
    }
    
} 
      
