$profile-text-color : #3A3B3F;
$profile-link-hover : #1665D8;
$profile-line-color: #E4E7EB;
$profile-block-color: #F2F2F2;
$profile-background-color: #9EA0A5;
$profile-button-color : #1665D8;
$profile-button-text-color : #425A70;
.column-9{

    background-color: $profile-block-color;
    

}

$profile-link-m-right: 20px;
$profile-ling-height: 3;
$profile-text-size: 16px;

.profile-link {
    display: inline-block;
    margin-right: $profile-link-m-right;
    color: $profile-text-color;
    line-height: $profile-ling-height;
    font-size: $profile-text-size;
    text-decoration: none;
    cursor: pointer;
}

.profile-link:after {
    background-color: $profile-link-hover;
    display: block;
    content: "";
    
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.profile-link:hover:after,
.profile-link:focus:after {
    width: 100%;
}

.profile-nav-line{
    margin-top: 0px;
    color: $profile-line-color;
    width: 106%;
}

.profile-block{
    height : 60%;
    width : 110%;
    background-color: white;
    border-radius: 15px;
}

.profile-header{

    font-size: 24px;
    margin-left: 20px;
    padding-top: 17px;

}
.profile-photo{

    position: relative;
    bottom: 50px;
    left: 50px;

}

.profile-horizontal{
    display: flex;
}

.profile-block-text{

    display: block;
    color: $profile-text-color;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

.profile-button{
    border: 0;
    appearance: none;
    background-color: white;
    color: $profile-button-text-color;
    padding: 15px;
}

.profile-button:hover{
    color: $profile-button-color;
}

.profile-button:focus{
    outline: none;
    box-shadow: none;
}